.box_border::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #cfcfcf, #00000089, #cfcfcf);
}

.active{
 @apply bg-zinc-800 text-white;
}

.link{
 @apply px-4 py-3 rounded-full lg:text-[15px] transition-all duration-300 flex items-center gap-3;
}

.link:hover .link_text{
	@apply block;
}
