@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans";
}

.form-container {
  animation: grow 0.5s linear;
}

@keyframes grow {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

#login_screen{
  background-image: url('./assets/Full_Blurred_Black.png');
}