@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto";
}

/* .form-container {
  animation: grow 0.5s linear;
} */

@keyframes grow {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

#login_screen::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  /* background-image: url("./assets/login_bg5.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: saturate(50%) brightness(80%) hue-rotate(30deg); */
}

/* #login_screen{
  background-image: url("./assets/login_bg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.heading_font {
  /* font-family: "Nasalization"; */
  font-family: 'Poppins';
}

.scroll_bar::-webkit-scrollbar{
  width: 0px;
}

.text_shadow{
  text-shadow: 2px 2px 3px transparent;
  -webkit-text-stroke: 1px aqua;
}

/* .text_shadow_black{
  text-shadow: 2px 2px 3px transparent;
  -webkit-text-stroke: .5px gray;
} */