@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans";
}

/* .form-container {
  animation: grow 0.5s linear;
} */

@keyframes grow {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

#login_screen::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-image: url("./assets/login_bg1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: saturate(50%) brightness(80%) hue-rotate(30deg); */
}

/* #login_screen{
  background-image: url("./assets/login_bg6.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

.login_logo h1,span{
  font-family: 'Nasalization';
}
